---
layout: default
title: моя первая страничка
---

<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
      <h1>{{ page.title }}</h1>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-sm-6">
    <h3>деанонимизация</h3>
    <ul class="list-inline">
      {% for social in site.data.social %}
        <li><a href="{{ social.link }}">
          <i class="fa fa-{{ social.icon }} fa-3x"></i>
        </a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="col-sm-6">
    <h3>словник технічних термінів</h3>
    <dl class="dl-horizontal lead">
      <dt>@</dt>
      <dd>ра&#x301;влик</dd>
      <dt>cookies</dt>
      <dd>реп’яшки&#x301;</dd>
    </dl>
  </div>

</div>

<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
      <h1>проекты</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 text-center lead">
    <p><a href="https://barzo.com.ua">barzo.com.ua</a> станет хорошим прайс-агрегатором</p>
    <p><a href="http://маркс.укр/">маркс.укр</a></p>
    <p><a href="/password/">генератор хороших паролей</a></p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
      <h1>статьи</h1>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-sm-6">
    <h3>
      умные на <a href="http://habrahabr.ru/users/patapsmile/topics/">хабре</a>
    </h3>
    <ul>
      {% for post in site.data.links.habr %}
        <li><a href="{{ post.link }}">{{ post.title }}
          
        </a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="col-sm-6">
    <h3>остальные в <a href="http://aymi-eoveuh.livejournal.com/">ЖЖ</a></h3>
    <ul>
      {% for post in site.data.links.lj %}
        <li><a href="{{ post.link }}">{{ post.title }}
          
        </a></li>
      {% endfor %}
    </ul>
  </div>

</div>

<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
      <h1>разное</h1>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-sm-6">
    <h3>
      видео
    </h3>

    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vPQR3E3ruVM" frameborder="0"></iframe>
    </div>
    <br />
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/54BMatbvjRk" frameborder="0" allowfullscreen></iframe>
    </div>
    <br>
    <p class="lead text-center">
    <a href="https://www.youtube.com/user/PatapSmile/videos">еще на ютубе&hellip;</a>
    </p>
  </div>

  <div class="col-sm-6">
    <h3>футболки</h3>
    <a href="http://shop.rocktruba.com/product/setochka-552042/">
      <img class="img-responsive center-block" src="//setochka.prostoprint.com/static/products/full-bcb87f16c740db34721836952b4b8065.png">
    </a>
    <a href="http://shop.rocktruba.com/product/stalin-was-black/">
     <img class="img-responsive center-block" src="//setochka.prostoprint.com/static/products/full-0a9b67fb3039d2f50d74d0cadd1a9ea0.png"> 
    </a>
    <br>
    <p class="lead text-center">
    <a href="http://shop.rocktruba.com/">еще&hellip;</a>
    </p>
    
  </div>

</div>
