---
layout: default
title: Моя первая страничка
---

<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
      <h1>{{ page.title }}</h1>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-sm-6">
    <h2>Деанонимизация</h2>
      <ul class="list-inline">
        {% for social in site.data.social %}
          <li><a href="{{ social.link }}">
            <i class="fa fa-{{ social.icon }} fa-3x"></i>
          </a></li>
        {% endfor %}
      </ul>
  </div>

  <div class="col-sm-6">
    <h2>Словник технічних термінів</h2>
    <dl class="dl-horizontal lead">
      <dt>@</dt>
      <dd>ра&#x301;влик</dd>
      <dt>cookies</dt>
      <dd>реп’яшки&#x301;</dd>
    </dl>
  </div>

</div>

<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
      <h1>Статьи</h1>
    </div>
  </div>
</div>

  <h2>Проекты</h2>
  
  <p><a href="http://barzo.com.ua">barzo.com.ua</a> станет хорошим прайс-агрегатором</p>
  <p><a href="http://kruzhalyk.com/">Кружалик ідіотів</a> пока не работает</p>
  <p><a href="/password/">Генератор хороших паролей</a></p>
  <h2>Статьи</h2>
  <p>Умные на <a href="http://habrahabr.ru/users/patapsmile/topics/">хабре</a>, остальные в <a href="http://aymi-eoveuh.livejournal.com/">ЖЖ</a>.</p>
  <h2>Картинки</h2>
  <p><a href="http://denyspotapov.com/gif-sound.html">Анимированные гифки со звуком</a></p>
  <p><a href="http://denyspotapov.com/abc/abc_color.pdf">Алфавит цветов (pdf)</a></p>
  <p><a href="http://denyspotapov.com/deputy-migration.html">Міграція народних депутатів Україний</a></p>
  <p><a href="http://denyspotapov.com/archive/nokiaplanh.com/">Nokia 3310 Touch</a></p>
  <p><a href="http://denyspotapov.com/boobs.html">Сиськи на CSS</a></p>
<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>


  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
